.main {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 90vh;
}

.main::before {
    content: "";
    position: absolute;
    top: 4.8rem; left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/relay_introduction_bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.loginForm {
    width: 40rem;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(93, 109, 126, 0.8);
}

.loginForm h1 {
    margin: 0 0 3rem 0;
}

.loginForm input,
.googleLoginButton {
    background-color: #F8F9F9;
    border: none;
    border-radius: 10rem;
    padding: 1rem 2rem;
    margin: 0 0 1.5rem 0;
    color: black;
    display: flex;
    align-items: center;
    width: 60%;
}

input:focus, .googleLoginButton:focus {
    outline: 3px solid white; /* bold white outline */
    outline-offset: 2px;       /* optional spacing from element */
}

.googleLoginButton {
    padding: 0.8rem 1rem;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.googleLoginButton > svg {
    margin-right: 1.5rem;
}

.defaultLoginButton {
    border: none;
    border-radius: 10rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #2980B9;
    color: white;
    cursor: pointer;
    width: 60%;
}
