.main {
    position: relative;
}
.mainContainer {
    display: flex;
    align-items: center;
    position: relative;
    top: 4.7rem;
}

.leftContainer {
    background-color: #75899D;
    width: 18%;
    height: 100%;
    position: fixed;
    top: 4.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.leftContainerUser {
    margin-top: 2rem;
    width: 100%;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContainerUser p{
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
}

.leftContainerTabs {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 2rem;
    justify-content: center;
    width: 100%;
}

.leftContainerTabs > button {
    border: transparent;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
}

.leftContainerTabs > button:hover {
    background-color: rgb(95, 126, 157);
    cursor: pointer;
}

.leftContainerTabs > button > svg {
    margin-right: 1rem;
}

.leftContainerTabs > button > p {
    font-size: 1.2rem;
    color: white;
}

.feedContainer {
    width: 52%;
    margin-left: 18%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90.3vh;
}

.postContainer {
    border-bottom: 3px solid black;
    margin: 2rem 0;
    padding: 1rem 2rem;
    width: 90%;
}

.authorSpan {
    font-weight: bold;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonContainer button {
    background-color: transparent;
    border: none;
    display: flex;
    width: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.buttonContainer button:nth-child(2){
    border: 2px solid #2980B9;
    color: #2980B9;
    border-radius: 3rem;
    width: 5rem;
    height: 2.5rem;
}
.buttonContainer button:nth-child(2):hover {
    background-color: #2980B9;
    color: white;
}

.buttonContainer button:hover {
    cursor: pointer;
}

.commentsContainer {
    height: 15rem;
    padding: 1rem 2rem;
    width: 90%;
}


.commentsContainer textarea {
    margin-right: 2rem;
    height: 5rem;
    width: 95%;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid black;
    resize: none;
    color: black;
}

.commentsContainer button {
    display: flex;
    align-items: center;
    width: 6rem;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #2980B9;
    border: none;
}

.commentsContainer button:hover {
    background-color: #3390ce;
    cursor: pointer;
}

.commentsContainer > div textarea:focus {
    outline: none;
}

.commentsContainer > div {
    border-bottom: 2px solid white;
}

.commentsContainer > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentsContainer > div > div button {
    background-color: transparent;
    border-radius: 5rem;
    border: 2px solid #B93838;
    height: 2.5rem;
}

.commentsContainer > div > div button:hover {
    background-color: #B93838;
}

.commentsContainer > div > div p {
    margin-left: 0.5rem;
}

.commentsContainer div h3 {
    margin-left: 1.5rem;
}

/*  */

.rightContainer {
    background-color: #394e63;
    width: 30%;
    height: 100%;
    position: fixed;
    top: 4.7rem;
    margin-left: 70%;
    display: flex;
    flex-direction: column;
    color: white;
}

.rightContainer h2 {
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: left;
}
